# ignore node dependency directories
node_modules/

# ignore log files and databases
*.log
*.sql
*.sqlite

# ignore packaged files
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# ignore Editor files
*.sublime-project
*.sublime-workspace
*.komodoproject
*.codekit3
.idea
.vs